@charset "UTF-8";

body {
	background-color: white;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 15px;
	min-width: 500px;
	overflow: auto;
}

#contentCarrello {
	width: 75%;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: #FA9D12;
	padding: 2%;
	margin-top: 2%;
	margin-left: 2%;
}

#content {
	width: 100%;
	min-width: 380px;
}

.carrelloVuoto {
	margin-bottom: 10%;
}

.carrelloVuoto a {
	text-decoration: none;
}

.prodotto {
	word-wrap: break-word;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2%;
	border-bottom: 2px solid #333;
}

.prodotto>* {
	margin: auto;
}

.prodotto img {
	margin-left: 1%;
	float: left;
	border-radius: 10px;
	width: 11%;
	height: 11%;
}

.prodotto input {
	width: 20%;
	height: 2%;
}

.nome {
	width: 10%;
}

.button {
	padding: 1% 3% 1% 3%;
	background: #333;
	font-size: 15px;
	border: none;
	background-color: #FA9D12;
	cursor: pointer;
	color: white;
	border-radius: 10px;
	margin: auto;
}

.checkout {
	border-top: 3px solid #333;
	font-size: 20px;
	padding: 3%;
	line-height: 2em;
	border-collapse: separate;
}

#checkoutButton {
	padding: 1%;
	background: #333;
	font-size: 15px;
	border: none;
	background-color: #FA9D12;
	cursor: pointer;
	color: white;
	border-radius: 10px;
}

@media ( max-width : 500px) {
	body {
		font-size: 13px;
	}
	h1 {
		font-size: 25px;
	}
	.prodotto {
		font-weight: 300;
		font-size: 17px;
		display: grid;
		grid-template-columns: 1fr;
	}
	.nome {
		font-weight: 600;
		font-size: 20px;
		width: 80%;
		border-top: 2px solid #333;
	}
	.button {
		padding: 3% 10% 3% 10%;
	}
	.prodotto>* {
		margin: 3% auto 10% auto;
	}
	.prodotto img {
		display: none;
	}
	#contentCorrello {
		width: 70%;
	}
	#checkoutButton {
		padding: 2%;
	}
	.modificaQuantita {
		margin: auto 30% auto 35%;
	}
}