@charset "ISO-8859-1";

@charset "ISO-8859-1";
/* footerStyle.css */
body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 380px;
}

.footer {
	font-size:12px;
	flex-shrink: 0;
	width: 100%;
	background-color: #333;
	min-width: 340px;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

.white_text {
	color: white;
	line-height: 1.5em;
}

.info {
	margin: auto;
}

.social {
	margin: auto;
	display: flex;
	width: 40%;
	border: 10px solid;
	border-image-slice: 1;
	border-width: 5px;
	padding: 1%;
}

.border-gradient-purple {
	border-image-source: linear-gradient(to right, #1D3AFA, #CB3AFA);
}

.social img {
	margin: auto;
	width: 10%;
}

@media ( max-width : 767px) {
	body {
		font-size: 10px;
	}
	.social {
		width: 80%;
		justify-content: center;
		align-items: center;
		border-width: 1px;
	}
	.social img {
		margin: 2%;
	}
}

@media ( min-width : 768px) and (max-width: 1023px) {
	body {
		font-size: 10px;
	}
}