@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	min-width: 380px;
}

#content {
	background-color: white;
	margin: 2%;
}

.indirizzo {
	border: solid;
	border-radius: 15px;
	margin-right: 78%;
	margin-bottom: 1%;
}

h2 {
	font-size: 20px;
	color: #FA9D12;
	text-align: center;
}

.indirizzo span {
	line-height: 2em;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-size: medium;
	font-weight: lighter;
	padding: 5%;
}

.button {
	align-items: center;
	background: #FA9D12;
	font-size: 15px;
	border: solid;
	color: white;
	border-radius: 10px;
	padding: 2%;
	margin-left: 35%;
}

.nuovoIndirizzo {
	margin-top: 1%;
	margin-right: 75%;
}

.creaNuovoIndirizzo {
	align-items: center;
	background: #FA9D12;
	font-size: 15px;
	border: solid;
	color: white;
	border-radius: 10px;
	padding: 2%;
	margin-left: 20%;
}

/*media query*/
@media ( max-width : 430px) {
	h2 {
		font-size: 15px;
	}
	.indirizzo {
		border: solid;
		border-radius: 15px;
		margin-right: 10%;
		margin-bottom: 1%;
	}
	.nuovoIndirizzo {
		margin-top: 1%;
		margin-right: 25%;
	}
	.creaNuovoIndirizzo {
		margin-left: 30%;
	}
}

@media ( min-width : 431px) and (max-width: 600px) {
	.indirizzo {
		border: solid;
		border-radius: 15px;
		margin-right: 50%;
		margin-bottom: 1%;
	}
	.nuovoIndirizzo {
		margin-top: 1%;
		margin-right: 50%;
	}
	.creaNuovoIndirizzo {
		margin-left: 20%;
	}
}

@media ( min-width : 600px) and (max-width: 700px) {
	.indirizzo {
		border: solid;
		border-radius: 15px;
		margin-right: 50%;
		margin-bottom: 1%;
	}
	.nuovoIndirizzo {
		margin-top: 1%;
		margin-right: 50%;
	}
	.creaNuovoIndirizzo {
		margin-left: 20%;
	}
}

@media ( min-width : 700px)and (max-width: 1023px) {
	.indirizzo {
		border: solid;
		border-radius: 15px;
		margin-right: 60%;
		margin-bottom: 1%;
	}
	.nuovoIndirizzo {
		margin-top: 1%;
		margin-right: 60%;
	}
	.creaNuovoIndirizzo {
		margin-left: 22%;
	}
}