@charset "ISO-8859-1";

#productList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 2%;
	padding: 2%;
	background-color: #333;
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
#productList .grid-item {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 2%;
	transition: all .3s ease;
	background-color: #fff;
}

#productList .grid-item h2 a {
	font-size: 1.0em;
	margin: 1% 0;
	color: #FA9D12;
	font-family: sans-serif;
	text-decoration: none;
	transition: color .3s ease;
}

#productList .grid-item .price {
	font-size: 1.5em;
	color: #FA9D12;
	font-weight: bold;
	margin-bottom: 1%;
}

#productList .grid-item:hover {
	transform: scale(1.05);
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

#productList .grid-item:hover h2 a {
	color: #9e5f00;
}

#productList .grid-item img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

#productList .grid-item h2 {
	font-size: 1.0em;
	margin: 1% 0;
	color: #9e5f00;
}

#productList .grid-item p {
	font-size: 1.2em;
	color: #333;
}

#productList .grid-item .aggiungiAlCarrello {
	background: #FA9D12;
	color: white;
	border: none;
	padding: 6% 6%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 2% 1%;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 5px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#productList .grid-item .aggiungiAlCarrello:hover {
	background: white;
	color: #FA9D12;
	border: 2px solid #FA9D12;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.pagination-btn {
	padding: 1% 2%;
	margin: 0 1%;
	background-color: #FA9D12;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .3s ease;
}

.pagination-btn:hover {
	background-color: #9e5f00;
}

.current-page {
	padding: 2%;
	margin: 0 5px;
	color: #333;
	font-weight: bold;
}

select {
	padding: 2%;;
	border-radius: 5px;
	border: none;
	background-color: #9e5f00;
	color: black;
	font-size: 1em;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	appearance: none; /* rimuove lo stile predefinito in alcuni browser */
	-webkit-appearance: none;
	/* rimuove lo stile predefinito in Safari e Chrome */
	-moz-appearance: none; /* rimuove lo stile predefinito in Firefox */
	background: url("dropdown-icon.png") 96%/15% no-repeat #f6f6f6;
	/* aggiunge un'icona personalizzata per il menu a discesa */
	cursor: pointer;
	transition: background-color .3s ease;
}

select:focus {
	outline: none;
	box-shadow: 0px 0px 5px #FA9D12;
	background-color: #FA9D12;
}

select:hover {
	background-color: #FA9D12;
}

select option {
	padding: 2%;
	font-size: 1em;
}

@media ( max-width : 430px) {
	#productList {
		padding-bottom: 370%;
	}
}

@media ( min-width : 430px) and (max-width: 676px) {
	body {
		font-size: 10px;
	}
	#productList {
		padding-bottom: 50%;
	}
}

@media ( min-width : 676px) and (max-width: 1300px) {
	body {
		font-size: 10px;
	}
	#productList {
		padding-bottom: 20%;
	}
}


body {
	font-family: sans-serif;
	width: 100%;
}

#content {
	width: 100%;
	margin-bottom: 2%;
}

#prodotti {
	width: 100%;
}

#prodotti h1 {
	margin-left: 1%;
}

#ordinaPer {
	margin-left: 1%;
}

#prodotto {
	visibility: hidden;
	max-width: 200px;
	height: auto;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
	margin-left: -100px;
}

#prodotto.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {bottom: 0;
	opacity: 0;
}

to {
	bottom: 30px;
	opacity: 1;
}

}
@keyframes fadein {
	from {bottom: 0;
	opacity: 0;
}

to {
	bottom: 30px;
	opacity: 1;
}

}
@-webkit-keyframes fadeout {
	from {bottom: 30px;
	opacity: 1;
}

to {
	bottom: 0;
	opacity: 0;
}

}
@keyframes fadeout {
	from {bottom: 30px;
	opacity: 1;
}

to {
	bottom: 0;
	opacity: 0;
}

}
@media ( max-width : 768px) {
	#content {
		font-size: 10px;
	}
	#prodotto {
		padding-bottom: 20%;
	}
}

@media ( min-width : 768px) and (max-width: 1023px) {
	body {
		font-size: 10px;
	}
}