@charset "UTF-8";

body {
	background-color: white;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: black;
	padding: 2%;
}

#content {
	text-align: center;
	width: 100%;
	min-width: 380px;
	margin-bottom: 5%;
}

.credenziali {
	background: #FA9D12;
	border: solid;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	padding: 3%;
	border-radius: 10px;
}

.credenziali label {
	font-size: 15px;
	text-align: right;
	font-weight: bold;
}

.credenziali input {
	font-size: medium;
	border-radius: 5px;
}

.form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1%;
}

.button {
	margin-top: 5%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.button input {
	font-size: 15px;
	background: white;
	color: #FA9D12;
	border-radius: 10px;
	padding: 3%;
	margin: 2%;
}

@media ( max-width : 767px) {
	h1 {
		font-size: 30px;
	}
	.credenziali {
		padding: 1%;
		font-size: 14px;
	}
	.button {
		font-size: 8px;
	}
	span {
		margin-left: 5%;
	}
}