body {
	font-family: sans-serif;
}

#content {
	width: 100%;
	text-align: center;
}

table {
	margin: 3% auto 3% auto;
	width: 90%;
	text-align: center;
	
}

th {
	padding: 2%;
}

td {
	padding: 2%;
	background-color: white;
	border-bottom: 2px solid #333;
	border-collapse:collapse;
}

.stato {
	background-color: green;
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: black;
}

caption{
	display:none;
}

a:hover {
	text-decoration: underline;
}

@media (max-width: 1000px){
	table{
	border-collapse: separate;
  	border-spacing: 1%;
	font-size: 12px;
	}
}