@charset "UTF-8";

#content {
	background-color: white;
	width: 100%;
	font-size: 13px;
}

.prodotto {
	width: 80%;
	margin: 2% auto 2% auto;
	word-wrap: break-word;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px solid #333;
	border-collapse: collapse;
	align-items: center;
	padding: 1%;
}

.prodotto img {
	margin-left: 1%;
	float: left;
	border-radius: 10px;
	width: 11%;
	height: 11%;
}

.prodotto label {
	font-weight: bold;
}

.nome {
	width: 10%;
	margin-left: 2%;
	margin-right: 10%;
}

.modificaQuantita {
	margin-right: 1%;
}

.prezzo {
	margin-right: 10%;
}

.totale {
	margin-left: 7%;
	margin-right: 7%;
}

.vaiAlProdotto {
	background: #333;
	border: none;
	background-color: #FA9D12;
	cursor: pointer;
	color: white;
	border-radius: 5px;
	padding: 1%;
}

.checkout {
	font-weight: bold;
	padding: 3%;
	line-height: 2em;
	width: 80%;
	margin: auto;
}

#checkout {
	padding: 1%;
	background: #333;
	border: none;
	background-color: #FA9D12;
	cursor: pointer;
	color: white;
	border-radius: 10px;
}

@media ( max-width : 1000px) {
	.prodotto {
		width: 90%;
		overflow-x: auto;
		min-width: 300px;
	}
	@media ( min-width : 380px) and (max-width: 450px) {
		#content {
			font-size: 10px;
		}
		.vaiAlProdotto {
			font-size: 10px;
		}
	}
}