body {
	width: 100%;
	background-color: #787878;
	font-family: sans-serif;
}

#content {
	margin-top: 4%;
	margin-bottom: 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-grow: 1;
	min-width: 380px;
}

#img-container {
	width: 55%;
	margin-right: 2%;
}

#img-container img {
	width: 70%;
	border: 4px solid #FA9D12;
}

#data-container {
	position: relative;
	background-color: #FA9D12;
	border-radius: 10px;
	padding: 3%;
	width: 30%;
}

#data-container>* {
	position: absolute;
}

#data-container h1 {
	text-align: center;
	word-wrap: break-word;
	width: 100%;
	height: 30%;
	left: 0;
	bottom: 60%;
}

#data-container>*+* {
	color: #333;
}

#container-quantita {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	top: 50%;
	bottom: 0;
}

#container-quantita input[type="number"] {
	padding: 2%;
	border: none;
}

#desc-container {
	background-color: #FA9D12;
	border-radius: 10px;
	line-height: 150%;
	padding: 0 5% 5% 5%;
	margin-top: 5%;
	min-width: 60%;
}

h1 {
	margin-top: 0;
	color: #333;
}

#data-container button {
	padding: 6px 10px;
	background: #333;
	font-size: 17px;
	border: none;
	background-color: #333;
	cursor: pointer;
	color: white;
	border-radius: 10px;
	margin-top: 0%;
	width: 85%;
	height: 15%;
	top: 80%;
	bottom: 0;
}

#data-container button:hover {
	transition: box-shadow 0.3s;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

#container-prezzo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20%;
	font-weight: bold;
	font-size: 500%;
	top: 30%;
	bottom: 70%;
}

#desc-container p {
	line-height: 150%;
	text-align: justify;
}

#desc-container h2 {
	color: #333;
}

@media ( max-width : 767px) {
	body {
		font-size: 14px;
	}
	#content {
		width: 90%;
		margin: auto;
	}
	#img-container {
		margin-top: 20%;
		width: 50%;
	}
	#img-container img {
		width: 80%;
	}
	#data-container {
		width: 30%;
		margin-top: 5%;
	}
	#data-container h1 {
		font-size: 12px;
	}
	#container-prezzo {
		width: 80%;
		font-weight: bold;
		font-size: 150%;
	}
	#container-quantita {
		width: 80%;
		margin: auto;
	}
	#container-quantita input[type="number"] {
		width: 80%;
		margin: auto;
	}
	#container-quantita h4 {
		display: none;
	}
	#data-container button {
		font-size: 8px;
		margin-top: 10%;
	}
	#desc-container {
		width: 95%;
	}
}

@media ( min-width : 768px) and (max-width: 1023px) {
	body {
		font-size: 14px;
	}
	#content {
		width: 90%;
		margin: auto;
	}
	#img-container {
		margin: auto;
		margin-top: 10%;
		width: 50%;
	}
	#img-container img {
		width: 80%;
	}
	#data-container {
		width: 30%;
		margin-top: 5%;
	}
	#data-container h1 {
		font-size: 12px;
	}
	#container-prezzo {
		width: 80%;
		font-weight: bold;
		font-size: 250%;
	}
	#container-quantita {
		width: 80%;
		margin: auto;
	}
	#container-quantita input[type="number"] {
		width: 80%;
		margin: auto;
	}
	#container-quantita h4 {
		display: none;
	}
	#data-container button {
		font-size: 8px;
		margin-top: 10%;
	}
	#desc-container {
		width: 95%;
	}
}